KenanAdel-week7/Kenan_NiFi/NiFi_Template/Real-Time_Data_Ingestion_&_Processing (1).json
{"flowContents":{"identifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9","instanceIdentifier":"fe125dda-019d-1000-b37e-926adcb60e12","name":"Real-Time_Data_Ingestion_&_Processing","comments":"","position":{"x":-157.0,"y":-126.80000305175781},"processGroups":[{"identifier":"58f6f898-70af-3047-9330-bd682ebe9600","instanceIdentifier":"9b76c7e9-9d70-3cc9-af7a-11901ebfc7b4","name":"Transformation_Layer","comments":"","position":{"x":16.0,"y":120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"beb1c19d-dd78-3b70-ad14-731fe5893e7a","instanceIdentifier":"c7ae9ff0-9de6-3f58-7952-35553a3fb93c","name":"LogAttribute","comments":"","position":{"x":-608.0,"y":72.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"8a15b583-5326-309a-b3e5-5ac99d85f167","instanceIdentifier":"da50ba6b-2334-3326-d10c-bf429712211f","name":"LogAttribute","comments":"","position":{"x":640.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"9318568b-0998-37c0-80ae-1d4fac8aa6e3","instanceIdentifier":"ad245c39-f36e-31cf-de9f-08c776419d4d","name":"DeduplicateRecord","comments":"","position":{"x":16.0,"y":80.0},"type":"org.apache.nifi.processors.standard.DeduplicateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Cache Identifier":null,"Cache Entry Identifier":"false","Record Hashing Algorithm":"SHA-256","Deduplication Strategy":"single","Include Zero Record FlowFiles":"false","Filter Capacity Hint":"25000","Distributed Map Cache Client":null,"Bloom Filter Certainty":"0.10","Record Writer":"999e4030-d044-35c9-a4c2-2a03db7d24c0","Record Reader":"614f9478-fb91-3573-ac66-ba282a8df598","Filter Type":"hash-set","record_id_to_check":"/id"},"propertyDescriptors":{"Cache Identifier":{"name":"Cache Identifier","displayName":"Cache Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Hashing Algorithm":{"name":"Record Hashing Algorithm","displayName":"Record Hashing Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Deduplication Strategy":{"name":"Deduplication Strategy","displayName":"Deduplication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Filter Capacity Hint":{"name":"Filter Capacity Hint","displayName":"Filter Capacity Hint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Map Cache Client":{"name":"Distributed Map Cache Client","displayName":"Distributed Map Cache Client","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bloom Filter Certainty":{"name":"Bloom Filter Certainty","displayName":"Bloom Filter Certainty","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Filter Type":{"name":"Filter Type","displayName":"Filter Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_id_to_check":{"name":"record_id_to_check","displayName":"record_id_to_check","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"76b1b167-8f5f-3ef5-983d-45b10b5dcff1","instanceIdentifier":"a1daea6f-c095-35a7-ee4d-5b1622e5ee97","name":"LogAttribute","comments":"","position":{"x":-608.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"3986c48c-6aef-3f18-8538-9e7f27cd22e8","instanceIdentifier":"35f17ccf-d3ba-3d78-52be-5cf7004d9393","name":"ValidateRecord","comments":"","position":{"x":16.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Force Types From Reader Schema":"false","Schema Text":"{\n  \"type\": \"record\",\n  \"name\": \"MessyData\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": [\"null\", \"int\", \"string\"] },\n    { \"name\": \"user_id\", \"type\": [\"null\", \"int\", \"string\"] },\n    { \"name\": \"amount\", \"type\": [\"null\", \"double\", \"string\"] },\n    { \"name\": \"timestamp\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"category\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"status\", \"type\": [\"null\", \"string\"] }\n  ]\n}","Maximum Validation Details Length":"1024","Record Writer for Invalid Records":null,"Record Reader":"614f9478-fb91-3573-ac66-ba282a8df598","Schema Registry":null,"Schema Access Strategy":"schema-text-property","Schema Name":"${schema.name}","Allow Extra Fields":"true","Strict Type Checking":"true","Record Writer":"999e4030-d044-35c9-a4c2-2a03db7d24c0","Schema Version":null,"Validation Details Attribute Name":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Force Types From Reader Schema":{"name":"Force Types From Reader Schema","displayName":"Force Types From Reader Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Validation Details Length":{"name":"Maximum Validation Details Length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer for Invalid Records":{"name":"Record Writer for Invalid Records","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Extra Fields":{"name":"Allow Extra Fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Type Checking":{"name":"Strict Type Checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Details Attribute Name":{"name":"Validation Details Attribute Name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"a3a82a92-5b5d-34be-a789-0a86292a7f25","instanceIdentifier":"afa81a7a-efc7-35ce-0355-68af76b58b11","name":"LogAttribute","comments":"","position":{"x":640.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"d5b9740d-15c2-3e8c-bc8e-3092cb667dac","instanceIdentifier":"fdc98b94-94b6-3eff-ec76-a77c9f14287c","name":"LogAttribute","comments":"","position":{"x":-608.0,"y":272.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"fcdee7e1-019d-1000-ff41-9dd7a00cc6f4","instanceIdentifier":"5e4d053e-3667-312c-c338-3128af32f4d6","name":"LogAttribute","comments":"","position":{"x":640.0,"y":80.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"3f8a3337-55e6-3373-a5cc-4cfd875e15cf","instanceIdentifier":"f461cbaf-0971-3b03-314b-c365e1abc676","name":"QueryRecord","comments":"","position":{"x":16.0,"y":288.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"needs_review":"SELECT \n    \"id\", \n    \"user_id\", \n    CAST(\"amount\" AS VARCHAR) as \"amount\",\n    \"status\",\n    \"timestamp\",\n    \"category\",\n    'Needs_Manual_Review' as \"quality_check\",\n    CURRENT_TIMESTAMP as \"nifi_process_time\"\nFROM FLOWFILE\nWHERE \"amount\" IS NULL \n   OR CAST(\"amount\" AS VARCHAR) = 'missing'","Include Zero Record FlowFiles":"false","Default Decimal Scale":"0","Record Writer":"999e4030-d044-35c9-a4c2-2a03db7d24c0","Record Reader":"614f9478-fb91-3573-ac66-ba282a8df598","Default Decimal Precision":"10","valid_data":"SELECT \n    \"id\", \n    \"user_id\", \n    CAST(\"amount\" AS VARCHAR) as \"amount\", \n    CASE \n        WHEN \"status\" = '???' OR \"status\" IS NULL OR \"status\" = 'Unknown' THEN 'Unknown' \n        ELSE \"status\" \n    END as \"status\",\n    \"timestamp\",\n    \"category\",\n    'Processed_Success' as \"quality_check\",\n    CURRENT_TIMESTAMP as \"nifi_process_time\"\nFROM FLOWFILE\nWHERE \"id\" IS NOT NULL \n  AND \"amount\" IS NOT NULL \n  AND CAST(\"amount\" AS VARCHAR) <> 'missing'"},"propertyDescriptors":{"needs_review":{"name":"needs_review","displayName":"needs_review","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"valid_data":{"name":"valid_data","displayName":"valid_data","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"}],"inputPorts":[{"identifier":"038f3e93-6524-3091-bfc7-b3fa5d587d07","instanceIdentifier":"d705bb7d-46f6-3548-bd3d-2b60b48d05da","name":"from_python","position":{"x":512.0,"y":-272.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"76551d8c-9533-3b85-8afd-0bcc84543985","instanceIdentifier":"c9bfa41a-c05d-3830-55d0-ee8c2b5cc8ac","name":"from_postgres","position":{"x":-392.0,"y":-272.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"}],"outputPorts":[{"identifier":"e29cd2a8-e21d-3556-9b55-7adaa7b94a36","instanceIdentifier":"44f32742-bc76-3c31-67b4-1b0bb5554681","name":" Transformed_data","position":{"x":72.0,"y":504.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"}],"connections":[{"identifier":"63a01d34-234a-336d-ab33-2645ed82d67b","instanceIdentifier":"e9a32e32-4cb8-3833-38bb-4a268e1dcaec","name":"","source":{"id":"a35732ea-8b99-30c2-9449-fec1729f8e2c","type":"FUNNEL","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"Funnel","comments":"","instanceIdentifier":"5226ac9d-eb12-346c-a412-bdf668daeb5d"},"destination":{"id":"3986c48c-6aef-3f18-8538-9e7f27cd22e8","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"ValidateRecord","comments":"","instanceIdentifier":"35f17ccf-d3ba-3d78-52be-5cf7004d9393"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[{"x":192.0,"y":-176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"bb473ae2-0913-3fa9-88bd-de327d1fd168","instanceIdentifier":"ec47e0cc-63fe-3243-2766-4e405a6f0604","name":"","source":{"id":"038f3e93-6524-3091-bfc7-b3fa5d587d07","type":"INPUT_PORT","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"from_python","instanceIdentifier":"d705bb7d-46f6-3548-bd3d-2b60b48d05da"},"destination":{"id":"a35732ea-8b99-30c2-9449-fec1729f8e2c","type":"FUNNEL","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"Funnel","comments":"","instanceIdentifier":"5226ac9d-eb12-346c-a412-bdf668daeb5d"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"bc6da92c-8f1c-3e86-a3df-a0367c51e7c2","instanceIdentifier":"2b859d81-1431-368a-d825-31dbc100ad19","name":"","source":{"id":"9318568b-0998-37c0-80ae-1d4fac8aa6e3","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"DeduplicateRecord","comments":"","instanceIdentifier":"ad245c39-f36e-31cf-de9f-08c776419d4d"},"destination":{"id":"beb1c19d-dd78-3b70-ad14-731fe5893e7a","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"LogAttribute","comments":"","instanceIdentifier":"c7ae9ff0-9de6-3f58-7952-35553a3fb93c"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"ccb48f67-62c4-3fbc-b707-52c864b29edb","instanceIdentifier":"27198573-1f22-396e-4be6-94dd2e5b5d63","name":"","source":{"id":"9318568b-0998-37c0-80ae-1d4fac8aa6e3","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"DeduplicateRecord","comments":"","instanceIdentifier":"ad245c39-f36e-31cf-de9f-08c776419d4d"},"destination":{"id":"3f8a3337-55e6-3373-a5cc-4cfd875e15cf","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"QueryRecord","comments":"","instanceIdentifier":"f461cbaf-0971-3b03-314b-c365e1abc676"},"labelIndex":0,"zIndex":19,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"d588a588-53dd-3b03-a0fc-b84f8622e90c","instanceIdentifier":"6d3f4d63-60f3-3a6e-798e-0cbbb1024525","name":"","source":{"id":"3986c48c-6aef-3f18-8538-9e7f27cd22e8","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"ValidateRecord","comments":"","instanceIdentifier":"35f17ccf-d3ba-3d78-52be-5cf7004d9393"},"destination":{"id":"76b1b167-8f5f-3ef5-983d-45b10b5dcff1","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"LogAttribute","comments":"","instanceIdentifier":"a1daea6f-c095-35a7-ee4d-5b1622e5ee97"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"bbfcb945-8cdd-3689-a56d-1659062f5311","instanceIdentifier":"9c85d993-c332-30c1-cecb-a51dabd306c3","name":"","source":{"id":"76551d8c-9533-3b85-8afd-0bcc84543985","type":"INPUT_PORT","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"from_postgres","instanceIdentifier":"c9bfa41a-c05d-3830-55d0-ee8c2b5cc8ac"},"destination":{"id":"a35732ea-8b99-30c2-9449-fec1729f8e2c","type":"FUNNEL","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"Funnel","comments":"","instanceIdentifier":"5226ac9d-eb12-346c-a412-bdf668daeb5d"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":0.0,"y":-240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"5280f474-93e1-385b-bdca-bf34bbf2ac29","instanceIdentifier":"ae0bac85-6a47-3da7-b03e-991d8e612172","name":"","source":{"id":"3f8a3337-55e6-3373-a5cc-4cfd875e15cf","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"QueryRecord","comments":"","instanceIdentifier":"f461cbaf-0971-3b03-314b-c365e1abc676"},"destination":{"id":"d5b9740d-15c2-3e8c-bc8e-3092cb667dac","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"LogAttribute","comments":"","instanceIdentifier":"fdc98b94-94b6-3eff-ec76-a77c9f14287c"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"e4fb4843-2bd1-39e4-a26b-5e340638f9e6","instanceIdentifier":"e8ab1a62-40f2-3d90-05ee-7eb700c35b6d","name":"","source":{"id":"3986c48c-6aef-3f18-8538-9e7f27cd22e8","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"ValidateRecord","comments":"","instanceIdentifier":"35f17ccf-d3ba-3d78-52be-5cf7004d9393"},"destination":{"id":"a3a82a92-5b5d-34be-a789-0a86292a7f25","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"LogAttribute","comments":"","instanceIdentifier":"afa81a7a-efc7-35ce-0355-68af76b58b11"},"labelIndex":0,"zIndex":8,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"3e110735-1af6-3f6a-a9b2-8997eb31ebd9","instanceIdentifier":"a458c170-e219-35d1-aeb9-56a67e308cb4","name":"","source":{"id":"3f8a3337-55e6-3373-a5cc-4cfd875e15cf","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"QueryRecord","comments":"","instanceIdentifier":"f461cbaf-0971-3b03-314b-c365e1abc676"},"destination":{"id":"8a15b583-5326-309a-b3e5-5ac99d85f167","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"LogAttribute","comments":"","instanceIdentifier":"da50ba6b-2334-3326-d10c-bf429712211f"},"labelIndex":0,"zIndex":21,"selectedRelationships":["needs_review"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"69a517fd-a875-31bc-b0d8-fc9cb8eec47b","instanceIdentifier":"521b9a1e-b134-3313-e4b3-781d68306f0c","name":"","source":{"id":"3986c48c-6aef-3f18-8538-9e7f27cd22e8","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"ValidateRecord","comments":"","instanceIdentifier":"35f17ccf-d3ba-3d78-52be-5cf7004d9393"},"destination":{"id":"9318568b-0998-37c0-80ae-1d4fac8aa6e3","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"DeduplicateRecord","comments":"","instanceIdentifier":"ad245c39-f36e-31cf-de9f-08c776419d4d"},"labelIndex":0,"zIndex":20,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"e448bdc8-c391-36c2-8d49-1237e1072e99","instanceIdentifier":"10aabaf9-32ec-3206-5b52-9bd3bb5fb73b","name":"","source":{"id":"3f8a3337-55e6-3373-a5cc-4cfd875e15cf","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"QueryRecord","comments":"","instanceIdentifier":"f461cbaf-0971-3b03-314b-c365e1abc676"},"destination":{"id":"e29cd2a8-e21d-3556-9b55-7adaa7b94a36","type":"OUTPUT_PORT","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":" Transformed_data","instanceIdentifier":"44f32742-bc76-3c31-67b4-1b0bb5554681"},"labelIndex":0,"zIndex":15,"selectedRelationships":["valid_data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"},{"identifier":"0d154cff-4872-31f6-8066-8b3677eef4f0","instanceIdentifier":"2efd7369-bd31-37a1-df10-9805a1ace347","name":"","source":{"id":"9318568b-0998-37c0-80ae-1d4fac8aa6e3","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"DeduplicateRecord","comments":"","instanceIdentifier":"ad245c39-f36e-31cf-de9f-08c776419d4d"},"destination":{"id":"fcdee7e1-019d-1000-ff41-9dd7a00cc6f4","type":"PROCESSOR","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"LogAttribute","comments":"","instanceIdentifier":"5e4d053e-3667-312c-c338-3128af32f4d6"},"labelIndex":0,"zIndex":12,"selectedRelationships":["duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"}],"labels":[],"funnels":[{"identifier":"a35732ea-8b99-30c2-9449-fec1729f8e2c","instanceIdentifier":"5226ac9d-eb12-346c-a412-bdf668daeb5d","position":{"x":168.0,"y":-264.0},"componentType":"FUNNEL","groupIdentifier":"58f6f898-70af-3047-9330-bd682ebe9600"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"4df63b95-6052-3bc1-907b-5ec2318b4157","instanceIdentifier":"02ecc019-c0a2-3cfd-a6ba-412062d48dba","name":"Load_Layer_HDFS","comments":"","position":{"x":40.0,"y":432.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e247ac90-1a31-36a7-a4a0-7299a1fc03f6","instanceIdentifier":"fe183948-019d-1000-9081-cb791246beed","name":"PutHDFS","comments":"","position":{"x":-232.0,"y":-560.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/hadoop-xml/core-site.xml, /opt/nifi/nifi-current/conf/hadoop-xml/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/user/itversity/nifi_output","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"10 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"},{"identifier":"36743128-bfc3-30da-ad68-8fca04ab59fe","instanceIdentifier":"fe257256-019d-1000-fcae-05686e7868a9","name":"LogAttribute","comments":"","position":{"x":56.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"},{"identifier":"788686d0-1c0a-3c79-85d8-d8d38eef7f8d","instanceIdentifier":"fe24fcb6-019d-1000-1e34-036fb6f92e4c","name":"LogAttribute","comments":"","position":{"x":-520.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"}],"inputPorts":[{"identifier":"0d27f49b-676a-36bb-a789-8df769359838","instanceIdentifier":"193e94b6-91bc-396e-5238-d25aaf7a1a0b","name":"From_Transformation","position":{"x":-184.0,"y":-720.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"}],"outputPorts":[],"connections":[{"identifier":"76671e6f-e1d5-3d4c-812b-6cda98d1bbbe","instanceIdentifier":"fe186c03-019d-1000-9171-a0e39016bc72","name":"","source":{"id":"0d27f49b-676a-36bb-a789-8df769359838","type":"INPUT_PORT","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"From_Transformation","instanceIdentifier":"193e94b6-91bc-396e-5238-d25aaf7a1a0b"},"destination":{"id":"e247ac90-1a31-36a7-a4a0-7299a1fc03f6","type":"PROCESSOR","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"PutHDFS","comments":"","instanceIdentifier":"fe183948-019d-1000-9081-cb791246beed"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"},{"identifier":"9d0016b3-2c99-30b6-a0c8-d71d269a382e","instanceIdentifier":"fe2512a5-019d-1000-fae9-6728f7c0cca9","name":"","source":{"id":"e247ac90-1a31-36a7-a4a0-7299a1fc03f6","type":"PROCESSOR","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"PutHDFS","comments":"","instanceIdentifier":"fe183948-019d-1000-9081-cb791246beed"},"destination":{"id":"788686d0-1c0a-3c79-85d8-d8d38eef7f8d","type":"PROCESSOR","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"LogAttribute","comments":"","instanceIdentifier":"fe24fcb6-019d-1000-1e34-036fb6f92e4c"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"},{"identifier":"10663324-20f4-3e3c-b816-301d2d2a04b7","instanceIdentifier":"fe25906e-019d-1000-9c27-25809a053168","name":"","source":{"id":"e247ac90-1a31-36a7-a4a0-7299a1fc03f6","type":"PROCESSOR","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"PutHDFS","comments":"","instanceIdentifier":"fe183948-019d-1000-9081-cb791246beed"},"destination":{"id":"36743128-bfc3-30da-ad68-8fca04ab59fe","type":"PROCESSOR","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"LogAttribute","comments":"","instanceIdentifier":"fe257256-019d-1000-fcae-05686e7868a9"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df63b95-6052-3bc1-907b-5ec2318b4157"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae","instanceIdentifier":"88afa557-c54e-3076-0d7a-47d78953e940","name":"ingestion_Layer_from_python","comments":"","position":{"x":-296.0,"y":-200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"50dd719f-b514-38b1-8c43-0351accba7bf","instanceIdentifier":"95111db3-80a9-3c6d-2d08-484d6815ae4f","name":"ListFile","comments":"","position":{"x":-144.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/data_inbox","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"4 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"fc529677-019d-1000-2ad7-5b5987da43ac","instanceIdentifier":"47239111-2a55-3cc9-a06a-20a5177f8d91","name":"LogAttribute","comments":"","position":{"x":496.0,"y":24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"502c51b6-eae4-3ffe-9f53-2b5ad4650208","instanceIdentifier":"09ca384e-dd0b-353b-80db-0613fb9df5cf","name":"LogAttribute","comments":"","position":{"x":-800.0,"y":24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"fc52b70f-019d-1000-40d4-aada6c09e6cd","instanceIdentifier":"beff4f21-fc0a-3772-b540-215ffcbc2d05","name":"LogAttribute","comments":"","position":{"x":-504.0,"y":272.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"85786683-51ba-3a5a-9e8c-141559fef270","instanceIdentifier":"06ad3f61-ef53-3705-4f03-36d603034dcf","name":"FetchFile","comments":"","position":{"x":-160.0,"y":32.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"}],"inputPorts":[],"outputPorts":[{"identifier":"90ad94cc-418e-32a1-b990-e6081e664118","instanceIdentifier":"4f3bfe56-2858-3ae0-78bf-d087e15daed0","name":"ingestion_python","position":{"x":112.0,"y":320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"}],"connections":[{"identifier":"3ef4edf5-56a8-3e01-a10f-a83523b85044","instanceIdentifier":"04dc682c-2315-3f59-0673-db0ecc898b91","name":"","source":{"id":"85786683-51ba-3a5a-9e8c-141559fef270","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"FetchFile","comments":"","instanceIdentifier":"06ad3f61-ef53-3705-4f03-36d603034dcf"},"destination":{"id":"fc52b70f-019d-1000-40d4-aada6c09e6cd","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"LogAttribute","comments":"","instanceIdentifier":"beff4f21-fc0a-3772-b540-215ffcbc2d05"},"labelIndex":0,"zIndex":5,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"160bedfd-c372-3d55-b8f0-b8087d015412","instanceIdentifier":"4f888945-dd9a-313b-4fff-c703c4979811","name":"","source":{"id":"85786683-51ba-3a5a-9e8c-141559fef270","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"FetchFile","comments":"","instanceIdentifier":"06ad3f61-ef53-3705-4f03-36d603034dcf"},"destination":{"id":"fc529677-019d-1000-2ad7-5b5987da43ac","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"LogAttribute","comments":"","instanceIdentifier":"47239111-2a55-3cc9-a06a-20a5177f8d91"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"64eaf58b-976f-3fd3-9dd1-8123ccfafbf2","instanceIdentifier":"5211644a-2cfb-324e-f797-01564708a433","name":"","source":{"id":"85786683-51ba-3a5a-9e8c-141559fef270","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"FetchFile","comments":"","instanceIdentifier":"06ad3f61-ef53-3705-4f03-36d603034dcf"},"destination":{"id":"90ad94cc-418e-32a1-b990-e6081e664118","type":"OUTPUT_PORT","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"ingestion_python","instanceIdentifier":"4f3bfe56-2858-3ae0-78bf-d087e15daed0"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"800350f9-2fe0-360c-860b-71658a604b89","instanceIdentifier":"7131ebd4-44bd-35c8-1bf5-e45b524486b6","name":"","source":{"id":"50dd719f-b514-38b1-8c43-0351accba7bf","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"ListFile","comments":"","instanceIdentifier":"95111db3-80a9-3c6d-2d08-484d6815ae4f"},"destination":{"id":"85786683-51ba-3a5a-9e8c-141559fef270","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"FetchFile","comments":"","instanceIdentifier":"06ad3f61-ef53-3705-4f03-36d603034dcf"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"},{"identifier":"13504d0c-93cb-34da-bf20-801d97a87290","instanceIdentifier":"1f0d75e5-6804-3eea-efd7-12616607a6a3","name":"","source":{"id":"85786683-51ba-3a5a-9e8c-141559fef270","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"FetchFile","comments":"","instanceIdentifier":"06ad3f61-ef53-3705-4f03-36d603034dcf"},"destination":{"id":"502c51b6-eae4-3ffe-9f53-2b5ad4650208","type":"PROCESSOR","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"LogAttribute","comments":"","instanceIdentifier":"09ca384e-dd0b-353b-80db-0613fb9df5cf"},"labelIndex":0,"zIndex":4,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3233b704-88eb-36db-a8a6-fa6a91a237ae"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"0d7ed0d2-c563-3781-b8d5-34f08a8085af","instanceIdentifier":"91aa74d1-b769-3be9-ff56-3e5233670f91","name":"ingestion_Layer_from_postgres","comments":"","position":{"x":344.0,"y":-208.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8057a003-c732-3a6d-9267-1da38f7406df","instanceIdentifier":"ab24043b-8fe2-3afe-cb1f-562b8b5fb65f","name":"QueryDatabaseTableRecord","comments":"","position":{"x":-128.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Table Name":"script_style_db","Set Auto Commit":null,"Max Wait Time":"0 seconds","Normalize Table/Column Names":"false","Database Connection Pooling Service":"68db371b-66a5-3380-8f7f-22dc8714fab5","Default Decimal Scale":"0","Maximum-value Columns":"id","Custom Query":null,"Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Database Type":"Generic","Columns to Return":null,"Record Writer":"999e4030-d044-35c9-a4c2-2a03db7d24c0","Max Rows Per FlowFile":"0","Default Decimal Precision":"10","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table/Column Names":{"name":"Normalize Table/Column Names","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"10 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0d7ed0d2-c563-3781-b8d5-34f08a8085af"}],"inputPorts":[],"outputPorts":[{"identifier":"371d4638-b96c-3fd1-a92c-e063ee7d2476","instanceIdentifier":"97fb9ea8-774a-3782-3da5-217e56dd1762","name":"ingestion_postgres","position":{"x":-80.0,"y":144.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0d7ed0d2-c563-3781-b8d5-34f08a8085af"}],"connections":[{"identifier":"cf424689-7681-3040-8664-e7801813816b","instanceIdentifier":"ed413d83-d970-3df3-3a53-7a78f04646d5","name":"","source":{"id":"8057a003-c732-3a6d-9267-1da38f7406df","type":"PROCESSOR","groupId":"0d7ed0d2-c563-3781-b8d5-34f08a8085af","name":"QueryDatabaseTableRecord","comments":"","instanceIdentifier":"ab24043b-8fe2-3afe-cb1f-562b8b5fb65f"},"destination":{"id":"371d4638-b96c-3fd1-a92c-e063ee7d2476","type":"OUTPUT_PORT","groupId":"0d7ed0d2-c563-3781-b8d5-34f08a8085af","name":"ingestion_postgres","instanceIdentifier":"97fb9ea8-774a-3782-3da5-217e56dd1762"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0d7ed0d2-c563-3781-b8d5-34f08a8085af"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cf29ee80-a945-3846-a714-760d4e0cd297","instanceIdentifier":"22172d66-2f2b-363b-a422-03ff8670eeb9","name":"","source":{"id":"371d4638-b96c-3fd1-a92c-e063ee7d2476","type":"OUTPUT_PORT","groupId":"0d7ed0d2-c563-3781-b8d5-34f08a8085af","name":"ingestion_postgres","instanceIdentifier":"97fb9ea8-774a-3782-3da5-217e56dd1762"},"destination":{"id":"76551d8c-9533-3b85-8afd-0bcc84543985","type":"INPUT_PORT","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"from_postgres","instanceIdentifier":"c9bfa41a-c05d-3830-55d0-ee8c2b5cc8ac"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"50b341c7-70ca-3307-bad9-cbc25f0f0ba8","instanceIdentifier":"da1a7305-381b-3067-d40d-edac0781eeb7","name":"","source":{"id":"90ad94cc-418e-32a1-b990-e6081e664118","type":"OUTPUT_PORT","groupId":"3233b704-88eb-36db-a8a6-fa6a91a237ae","name":"ingestion_python","instanceIdentifier":"4f3bfe56-2858-3ae0-78bf-d087e15daed0"},"destination":{"id":"038f3e93-6524-3091-bfc7-b3fa5d587d07","type":"INPUT_PORT","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":"from_python","instanceIdentifier":"d705bb7d-46f6-3548-bd3d-2b60b48d05da"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":40.0,"y":48.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"9c7b1006-e951-3847-9700-afd5dd948ed8","instanceIdentifier":"858767bf-6d69-3c33-c43e-c7a6e6a96e70","name":"","source":{"id":"e29cd2a8-e21d-3556-9b55-7adaa7b94a36","type":"OUTPUT_PORT","groupId":"58f6f898-70af-3047-9330-bd682ebe9600","name":" Transformed_data","instanceIdentifier":"44f32742-bc76-3c31-67b4-1b0bb5554681"},"destination":{"id":"0d27f49b-676a-36bb-a789-8df769359838","type":"INPUT_PORT","groupId":"4df63b95-6052-3bc1-907b-5ec2318b4157","name":"From_Transformation","instanceIdentifier":"193e94b6-91bc-396e-5238-d25aaf7a1a0b"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":216.0,"y":360.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"68db371b-66a5-3380-8f7f-22dc8714fab5","instanceIdentifier":"fe136d5a-019d-1000-ce9c-9e3a637bc9d1","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.9.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.10.jar","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://cluster_util_db:5432/postgres","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"postgres","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fe125dda-019d-1000-b37e-926adcb60e12"},{"identifier":"c4eb3cb0-72c2-3152-86fa-8df689003062","instanceIdentifier":"27c10ad7-1fee-3426-dd24-da2ee49f26e2","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.9.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.10.jar","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://cluster_util_db:5432/postgres","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"postgres","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"edc817cd-7ee9-3766-a94d-db00788d9d38","instanceIdentifier":"fdd27cd7-971a-3b9a-a8a2-764351fad728","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"999e4030-d044-35c9-a4c2-2a03db7d24c0","instanceIdentifier":"fe1313a5-019d-1000-586a-61f6096de28a","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fe125dda-019d-1000-b37e-926adcb60e12"},{"identifier":"2b650601-df69-3c8f-80d3-37d4717bb626","instanceIdentifier":"5f689927-02f9-3396-6d7d-a0f9a6d6dce0","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"de49b1b6-955a-398e-aa98-3b7aaaf981f9"},{"identifier":"614f9478-fb91-3573-ac66-ba282a8df598","instanceIdentifier":"fe12d2b3-019d-1000-2858-9526f3147863","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fe125dda-019d-1000-b37e-926adcb60e12"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}